body { background:#f5f5f5;}
.box [class*=aui-flex-]:not(.aui-flex-col) { background-color: rgba(26, 188, 156, 0.5);color: #ffffff;font-size: 12px; }
.box.nobg [class*=aui-flex-]:not(.aui-flex-col){ background: #ffffff;}
.box.bottom { margin-bottom: 15px;}
img { width: 100%; }
.aui-border-t:after,
.aui-border-b:after,
.aui-border-l:after,
.aui-border-r:after,
.aui-border-tb:after,
.aui-border:after {border-color: #e0e0e0;}
#demo-box {height: 100%;overflow-y: auto;-webkit-overflow-scrolling: touch;}
#demo-box::-webkit-scrollbar {width: 0px;height: 0px;visibility: hidden;}
#demo-box2 {height: 100%;overflow-y: auto;-webkit-overflow-scrolling: touch;}
#demo-box2::-webkit-scrollbar {width: 0px;height: 0px;visibility: hidden;}
.img-list {padding: 2px 2px 0 2px;}
.img-list > div {padding: 2px 2px 0 2px;}
.img-list img {display: block;}

.aui-list-view-cell { font-size: 0.7rem; position: relative;padding:15px 12px; text-align:center;}
.aui-list-view.aui-grid-view .aui-list-view-cell{ padding-top:0;}