<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>余额明细</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
</head>
<body>
<div class="aui-content" id="app" v-cloak="">
    <template v-for="(vo,index) in list">
        <div class="aui-row aui-bg-white aui-shadow aui-padded-10 aui-margin-b-10">
            <div class="aui-col-xs-6">
                <p class="aui-text-black aui-font-size-14">{{vo.trans_name}}</p>
                <p>金额：{{vo.trans_money}}</p>
            </div>
            <div class="aui-col-xs-6 aui-text-right">
                <template v-if="vo.status == 0">
                    <p class="aui-text-danger aui-font-size-14">充值失败</p>
                </template>
                <template v-else>
                    <p class="aui-text-orange aui-font-size-14">充值成功</p>
                </template>
                <p>{{vo.trans_time}}</p>
            </div>
        </div>
    </template>
</div>
</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            cover_url:base_url,
            token:'',
            list: [],
            status:0,
            page:1,
            pagesize:10
        },
        methods: {
            init: function () {
                api.ajax({
                    url: money_list_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token,
                            status: vm.status,
                            page:vm.page,
                            pagesize:vm.pagesize
                        }
                    }
                }, function (ret, err) {
                    console.log(JSON.stringify(ret));
                    if (ret) {
                        if (vm.page == 1) {
                            vm.list = ret.data.list;
                        } else {
                            if(ret.data.list.length == 0 ){
                                api.toast({
                                    msg: '加载完成',
                                    duration: 2000,
                                    location: 'bottom'
                                });
                                return false;
                            }
                            for (var i = 0; i < ret.data.list.length; i++) {
                                vm.list.push(ret.data.list[i]);
                            }
                        }

                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
        }
    });
    apiready = function () {
        vm.token = $api.getStorage('token');
        vm.init();
        api.setRefreshHeaderInfo({
            visible: true,
            loadingImg: 'widget://image/refresh.png',
            bgColor: '#ccc',
            textColor: '#fff',
            textDown: '下拉刷新...',
            textUp: '松开刷新...',
            showTime: true
        }, function (ret, err) {
            vm.page = 1;
            vm.init();
            setTimeout("api.refreshHeaderLoadDone()", '500');
        });

        api.addEventListener({
            name:'scrolltobottom',
            extra:{
                threshold:300
            }
        }, function(ret, err){
            vm.page += 1;
            vm.init();
        });
    };
</script>