<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>全部优惠券</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <style>
		.aui-card-list-content-padded{ position:static}
        .aui-card-list-footer{position:static;margin-top:-2px;}
		.couponLine {z-index:10;margin-top:-2px;overflow: hidden;}
        .aui-list .aui-list-item:active {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
	<div class="aui-bg-white aui-border-b aui-text-orange aui-padded-t-10 aui-padded-b-10 aui-padded-l-15">全部优惠劵</div>
    <section class="aui-content-padded" id="app" v-cloak="">
        <transition-group name="list" tag="p">
        <div class="aui-card-list" v-for="(vo,index) in list" v-bind:key="index">
            <div class="aui-card-list-content-padded aui-radius-4 aui-shadow">
                <div class="aui-row aui-padded-t-5">
                    <div class="aui-col-xs-3">
                        <div class=" aui-text-danger aui-text-center aui-padded-r-10" style="width:auto;">
                            ￥<span class="aui-font-size-20">{{vo.reduce_price}}</span>
                            <!--p class="aui-font-size-12">满{{vo.order_num}}元可用</p-->
                        </div>
                    </div>
                    <div class="aui-col-xs-9 aui-list aui-media-list aui-list-noborder">
                        <div class="aui-list-item aui-padded-0">
                            <div class="aui-list-item-inner aui-padded-0">
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title aui-font-size-16">{{vo.name}}</div>
                                    <template v-if="vo.is_have == 1">
                                        <div class="aui-list-item-right">
                                            <div class="aui-btn aui-btn-outlined  aui-pull-right">已领取</div>
                                        </div>
                                    </template>
                                    <template v-else>
                                        <div class="aui-list-item-right" @click="coupon_get(index)">
                                            <div class="aui-btn aui-btn-outlined aui-btn-warning aui-pull-right">去领取</div>
                                        </div>
                                    </template>
                                </div>
                                <div class="aui-list-item-text aui-font-size-12">限本账号使用</div>
                                <div class="aui-list-item-text aui-font-size-12">有效期：{{vo.valid_days}}天</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="couponLine"><img src="../../image/coupon.png"></div>
            <div class="aui-card-list-footer aui-radius-4 aui-shadow">
                <p class="aui-font-size-14">使用限制：通用</p>
            </div>
        </div>
        </transition-group>
    </section>
</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            token:'',
            list: [
                {
                    "cate_id": "休闲食品",
                    "cate_id_val": "148,",
                    "content": null,
                    "coupon_num": 100,
                    "coupon_num_surplus": 100,
                    "create_time": "2017-08-29 05:43:13",
                    "end_time": null,
                    "full_price": null,
                    "goods_id": "",
                    "goods_id_val": "",
                    "id": 1,
                    "is_have": 1,
                    "is_limit": 1,
                    "is_show": true,
                    "name": "新年大礼包",
                    "order_num": 999,
                    "pk_val": "1",
                    "reduce_price": 128,
                    "start_time": null,
                    "status": 1,
                    "thumb": "/upload/images/2017/08/20170829174040_0.jpg",
                    "update_time": "2017-09-25 11:08:43",
                    "valid_days": 60
                },
                {
                    "cate_id": "个护美妆",
                    "cate_id_val": "157,",
                    "content": null,
                    "coupon_num": 500,
                    "coupon_num_surplus": 500,
                    "create_time": "2017-08-30 04:33:24",
                    "end_time": null,
                    "full_price": null,
                    "goods_id": "",
                    "goods_id_val": "",
                    "id": 5,
                    "is_have": 1,
                    "is_limit": 1,
                    "is_show": true,
                    "name": "开门红优惠券",
                    "order_num": 999,
                    "pk_val": "5",
                    "reduce_price": 5,
                    "start_time": null,
                    "status": 1,
                    "thumb": "/upload/images/2017/08/20170830165521_10.jpg",
                    "update_time": "2017-09-25 11:06:30",
                    "valid_days": 30
                }
            ]
        },
        methods: {
            init: function () {
                api.ajax({
                    url: coupon_list_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token,
                        },
                    }
                }, function (ret, err) {
                    if (ret) {

                        vm.list = ret.data;
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
            coupon_get:function (index) {
                api.ajax({
                    url: coupon_get_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token,
                            coupon_id: vm.list[index].id
                        }
                    }
                }, function (ret, err) {
                    if (ret) {

                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'bottom'
                        });
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            }
        }
    });
    apiready = function () {
        vm.token = $api.getStorage('token');
        vm.init();
        api.setRefreshHeaderInfo({
            visible: true,
            loadingImg: 'widget://image/refresh.png',
            bgColor: '#ccc',
            textColor: '#fff',
            textDown: '下拉刷新...',
            textUp: '松开刷新...',
            showTime: true
        }, function (ret, err) {
            vm.init();
            setTimeout("api.refreshHeaderLoadDone()", '500');
        });
    };
</script>
