<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>我的</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontcss/iconfont.css" />
    <style type="text/css">
        .aui-bg-user-info{
            background: -webkit-linear-gradient(#ffb335, #ee9400);
            background: -o-linear-gradient(#ffb335, #ee9400);
            background: -moz-linear-gradient(#ffb335, #ee9400);
            background: linear-gradient(#ffb335, #ee9400);
        }
        .aui-border-r{}
		.aui-badge{top: -0.3rem;}
    </style>

</head>
<body>
<section class="aui-content" id="user-info" v-cloak>
    <template v-if="token">
        <div class="aui-list aui-media-list aui-bg-user-info">
            <div class="aui-row aui-padded-10 aui-padded-b-0">

                <div class="aui-col-xs-6 aui-text-white" onclick="open_window('member','data_win')">
                    设置
                </div>
                <div class="aui-col-xs-6 aui-text-right" onclick="open_window('member','usenter_win')">
                    <span class="iconfont icon-xiugai aui-text-white" style="font-size:22px;">
                    </span>
                </div>
            </div>
            <div class="aui-padded-l-15 aui-padded-r-15">
                <div class="aui-card-list-content" style=" border-bottom:1px solid #ffc360;">
                    <img :src="cover" class="aui-img-round" style="width:4rem;height:4rem;margin:auto;" onclick="open_window('member','usenter_win')">
                    <div class="aui-text-center aui-text-white aui-font-size-18 aui-padded-10">{{member_info.mobile}}</div>
                </div>
            </div>
            <div class="aui-row aui-text-white aui-text-center aui-padded-10">
                <div class="aui-col-xs-4" onclick="open_window('member','mycollection_win')">
                    <span class=" aui-font-size-18">{{collectSum}}个</span>
                    <div class="aui-grid-label aui-font-size-14"> 商品收藏</div>
                </div>
                <div class="aui-col-xs-4" onclick="open_window('member','integral_subsidiary_win')">
                    <span class=" aui-font-size-18">{{score}}</span>
                    <div class="aui-grid-label aui-font-size-14"> 积分</div>
                </div>
                <template v-if="sign==0">
                    <div class="aui-col-xs-4" @click="init_sign()">
                        <i class="iconfont icon-qiandao aui-font-size-18"></i>
                        <div class="aui-grid-label aui-font-size-14">签到领积分</div>
                    </div>
                </template>
                <template v-else>
                    <div class="aui-col-xs-4">
                        <i class="iconfont icon-qiandao aui-font-size-18"></i>
                        <div class="aui-grid-label aui-font-size-14">今日已签到</div>
                    </div>
                </template>

            </div>
        </div>
    </template>
    <template v-else="">
        <div class="aui-list aui-media-list aui-bg-user-info" style="padding-top:3.6rem;padding-bottom:1rem;">
            <div class="aui-row aui-padded-15" >
                <div class="aui-col-xs-6">
                    <div class="aui-btn aui-btn-primary" style=" background:#a54e00; padding:0 2rem"
                         onclick="open_window('member','login_win',{'index':0})">
                        登录
                    </div>
                </div>
                <div class="aui-col-xs-6 aui-text-right">
                    <div class="aui-btn aui-bg-white" style="padding:0 2rem"
                         onclick="open_window('member','login_win',{'index':1})">
                        注册
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template v-if="token">
        <div class="aui-bg-white aui-margin-t-10 aui-shadow" style=" background-image:none;">
            <div class="aui-row aui-border-b aui-padded-b-10 aui-padded-t-10 aui-margin-l-15 aui-margin-r-15" onclick="open_window('member','order_win')">
                <div class="aui-col-xs-6 aui-font-size-14">我的订单</div>
                <p class="aui-col-xs-6 aui-text-right aui-font-size-14">查看全部订单</p>
            </div>
            <div class="aui-row aui-padded-t-15 aui-padded-b-15">
                <div class="aui-col-xs-3 aui-text-center" onclick="open_window('member','order_win',{status:0})">
                    <template v-if="orderUnpay>0">
                        <div class="aui-badge">{{orderUnpay}}</div>
                    </template>
                    <img src="../../image/ic_dzf.png" style="width:1.5rem;margin:auto">
                    <div class="aui-grid-label aui-font-size-14">待付款</div>
                </div>
                <div class="aui-col-xs-3 aui-text-center" onclick="open_window('member','order_win',{status:1})">
                    <template v-if="orderUnsend>0">
                        <div class="aui-badge">{{orderUnsend}}</div>
                    </template>
                    <img src="../../image/ic_dfh.png" style="width:1.5rem;margin:auto">
                    <div class="aui-grid-label aui-font-size-14">待发货</div>
                </div>
                <div class="aui-col-xs-3 aui-text-center" onclick="open_window('member','order_win',{status:2})">
                    <template v-if="orderSend>0">
                        <div class="aui-badge">{{orderSend}}</div>
                    </template>
                    <img src="../../image/ic_dsh.png" style="width:1.5rem;margin:auto">
                    <div class="aui-grid-label aui-font-size-14">已发货</div>
                </div>
                <div class="aui-col-xs-3 aui-text-center" onclick="open_window('member','order_win',{status:3})">
                    <template v-if="orderFinish>0">
                        <div class="aui-badge">{{orderFinish}}</div>
                    </template>
                    <img src="../../image/ic_th.png" style="width:1.5rem;margin:auto">
                    <div class="aui-grid-label aui-font-size-14">已完成</div>
                </div>
            </div>
        </div>
        <div class="aui-bg-white aui-margin-t-10 aui-shadow" style=" background-image:none;">
            <div class="aui-row aui-border-b aui-padded-b-10 aui-padded-t-10 aui-margin-l-15 aui-margin-r-15">
                <div class="aui-col-xs-6 aui-font-size-14">其他订单</div>
            </div>
            <div class="aui-row aui-padded-t-15 aui-padded-b-15">
                <div class="aui-col-xs-4 aui-text-center" onclick="open_window('member','group_order_win')">
                    <template v-if="grouponOrderUnpay>0">
                        <div class="aui-badge">{{grouponOrderUnpay}}</div>
                    </template>
                    <img src="../../image/ic_dzf.png" style="width:1.5rem;margin:auto">
                    <div class="aui-grid-label aui-font-size-14">团购订单</div>
                </div>
                <div class="aui-col-xs-4 aui-text-center" onclick="open_window('member','seconds_kill_order_win')">
                    <template v-if="seckillOrderUnpay>0">
                        <div class="aui-badge">{{seckillOrderUnpay}}</div>
                    </template>
                    <img src="../../image/ic_dfh.png" style="width:1.5rem;margin:auto">
                    <div class="aui-grid-label aui-font-size-14">秒杀订单</div>
                </div>
                <div class="aui-col-xs-4 aui-text-center" onclick="open_window('member','integral_order_win')">
                    <img src="../../image/ic_dsh.png" style="width:1.5rem;margin:auto">
                    <div class="aui-grid-label aui-font-size-14">积分订单</div>
                </div>
            </div>
        </div>
        <div class="aui-bg-white aui-margin-t-10 aui-shadow" style=" background-image:none;">
            <div class="aui-row aui-border-b aui-padded-b-10 aui-padded-t-10 aui-margin-l-15 aui-margin-r-15">
                <div class="aui-col-xs-6 aui-font-size-14">我的工具</div>
            </div>
            <div class="aui-row aui-border-b aui-margin-l-15 aui-margin-r-15" >
                <div class="aui-col-xs-4 aui-text-center aui-border-r aui-padded-10" onclick="open_window('member','balance_win')">
                    <i class="iconfont icon-yue" style="font-size:30px;"></i>
                    <div class="aui-grid-label aui-font-size-14">账户余额</div>
                </div>
                <div class="aui-col-xs-4 aui-text-center aui-border-r aui-padded-10" onclick="open_window('member','mycoupon_win')">
                    <i class="iconfont icon-youhuiquan" style="font-size:30px;"></i>
                    <div class="aui-grid-label aui-font-size-14">优惠券</div>
                </div>
                <div class="aui-col-xs-4 aui-text-center aui-padded-10" onclick="open_window('member','integrated_mall_win')">
                    <i class="iconfont icon-icon-copy" style="font-size:30px;"></i>
                    <div class="aui-grid-label aui-font-size-14">积分商城</div>
                </div>
            </div>
            <div class="aui-row  aui-margin-l-15 aui-margin-r-15">
                <div class="aui-col-xs-4 aui-text-center aui-border-r aui-padded-10" onclick="open_meiQia()">
                    <i class="iconfont icon-kefuzhongxin" style="font-size:30px;"></i>
                    <div class="aui-grid-label aui-font-size-14">客服中心</div>
                </div>
                <div class="aui-col-xs-4 aui-text-center aui-border-r aui-padded-10" @click="apicall()">
                    <i class="iconfont icon-yijianfankui" style="font-size:30px;"></i>
                    <div class="aui-grid-label aui-font-size-14">意见反馈</div>
                </div>
                <div class="aui-col-xs-4 aui-text-center aui-padded-10" onclick="open_window('member','address_list_win')">
                    <i class="iconfont icon-shouhuodizhi1" style="font-size:30px;"></i>
                    <div class="aui-grid-label aui-font-size-14">收货地址</div>
                </div>
            </div>
        </div>
    </template>
    <template v-if="token">
        <div class="aui-margin-15">
            <div class="aui-btn aui-btn-block aui-btn-orange" @click="login_out()">退出登录</div>
        </div>
    </template>
</section>
</body>
</html>
<script src="../../script/api.js"></script>
<script src="../../script/vue.js"></script>
<script src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#user-info',
        data: {
            base_url:base_url,
            cover:'../../image/user_pic.png',
            is_login: 0,
            token: 0,
            member_info: [],

            sign:0,
            score:0,
            orderUnsend:0,
            orderSend:0,
            orderFinish:0,
            orderCancel:0,
            collectSum:0,
            orderUnpay:0,

            grouponOrderUnpay:0,
            seckillOrderUnpay:0
        },
        methods: {
            init:function () {
                vm.token = $api.getStorage('token');
                vm.member_info = $api.getStorage('member_info');
                if(vm.token){
                    api.ajax({
                        url: init_sum_url,
                        method: 'post',
                        timeout: 30,
                        dataType: 'json',
                        returnAll: false,
                        data: {
                            values: {
                                token: vm.token
                            }
                        }
                    }, function (ret, err) {
                        if (ret) {
                            console.log(JSON.stringify(ret));
                            if(ret.status == 1){
                                vm.sign = ret.data.sign;
                                vm.score = ret.data.score;
                                vm.orderUnsend = ret.data.orderUnsend;
                                vm.orderFinish = ret.data.orderFinish;
                                vm.orderCancel = ret.data.orderCancel;
                                vm.collectSum = ret.data.collectSum;
                                vm.orderUnpay = ret.data.orderUnpay;
                                vm.orderSend = ret.data.orderSend;
                                vm.grouponOrderUnpay = ret.data.grouponOrderUnpay;
                                vm.seckillOrderUnpay = ret.data.seckillOrderUnpay;
                                if(ret.data.cover){
                                    vm.cover = vm.base_url+ret.data.cover;
                                }else{
                                    vm.cover = '../../image/user_pic.png';
                                }

                            }
                        } else {
                            console.log(JSON.stringify(err));
                        }
                    });
                }
            },
            login_out: function () {
                vm.token = null;
                vm.member_info = null;
                $api.setStorage('token',null);
                $api.setStorage('member_info',null);
                api.sendEvent({
                    name: 'set_show_index',
                });
                api.sendEvent({
                    name: 'usercenter_init',
                });
                api.sendEvent({
                    name: 'cart_list_init',
                });
                api.toast({
                    msg: '退出成功',
                    duration: 2000,
                    location: 'bottom'
                });
            },
            init_sign:function () {
                api.ajax({
                    url: init_sign_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'bottom'
                        });
                        if(ret.status == 1){
                            vm.sign = 1;
                        }
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
            apicall:function () {
                api.call({
                    type: 'tel_prompt',
                    number: '09175227543'
                });
            }
        }
    });
    apiready = function () {
        vm.init();
        api.addEventListener({
            name: 'usercenter_init'
        }, function (ret, err) {
            vm.init();
        });
        api.setRefreshHeaderInfo({
            visible: true,
            loadingImg: 'widget://image/refresh.png',
            bgColor: '#ccc',
            textColor: '#fff',
            textDown: '下拉刷新...',
            textUp: '松开刷新...',
            showTime: true
        }, function (ret, err) {
            vm.init();
            setTimeout("api.refreshHeaderLoadDone()", '500');
        });
    };
</script>
