<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontcss/iconfont.css" />
    <style type="text/css">
        body{ background:#fff;}
        .txt {
        position: relative;
        background: transparent;}
        .txt:after,.txt:before {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        margin: auto;
        height: 1px;
        width:4rem;
        background-color: #dddddd ;
        -webkit-transform-origin: 50% 100% 0;
        transform-origin: 50% 100% 0;}
        .txt:before {left:1rem;}
        .txt:after{ right:1rem;}

        .aui-radio{width:1rem; height:1rem;}
        .aui-radio:checked, .aui-radio.aui-checked{background-color: #ffc800;border:none;}
    </style>
</head>

<body>
<div id="app" v-cloak>
    <div class="aui-content">
        <ul class="aui-list aui-form-list aui-list-noborder aui-padded-15">
            <li class="aui-list-item aui-padded-l-0">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label-icon">
                        <i class="iconfont icon-geren aui-font-size-20"></i>
                    </div>
                    <div class="aui-list-item-input">
                        <input type="tel" pattern="[0-9]*" placeholder="请输入手机号码" class="aui-font-size-14" v-model="mobile">
                    </div>
                </div>
            </li>
            <li class="aui-list-item aui-padded-l-0">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label-icon">
                        <i class="iconfont icon-suo aui-font-size-20"></i>
                    </div>
                    <template v-if="eye == 1">
                        <div class="aui-list-item-input">
                            <input type="password" placeholder="请输入您的密码" class="aui-font-size-14" v-model="password">
                        </div>
                    </template>
                    <template v-else>
                        <div class="aui-list-item-input">
                            <input type="text" placeholder="请输入您的密码" class="aui-font-size-14" v-model="password">
                        </div>
                    </template>
                    <div class="aui-list-item-label-icon" style="width:2.1rem" @click="change_eye()">
                        <img src="../../image/ic-password.png" >
                    </div>
                </div>
            </li>
            <div class="aui-row aui-margin-t-15">
                <p class="aui-col-xs-6 aui-text-left aui-font-size-14">
                    <label><input class="aui-radio" type="checkbox" name="demo1" checked=""> 自动登录</label>
                </p>
                <div class="aui-col-xs-6 aui-text-right">
                    <p class="" onclick="open_window('member','findpassword_win')">忘记密码</p>
                </div>
            </div>
        </ul>
    </div>
    <div class="aui-content-padded aui-margin-t-5">
        <div class="aui-btn aui-btn-orange aui-btn-block" @click="login()">登 录</div>
    </div>
    <!--
    <div class="aui-content-padded">
        <div class="aui-text-center aui-font-size-14 aui-padded-t-15">
            <div class="txt" >
                <span>其他登录方式</span>
            </div>
        </div>
        <div class="aui-text-center aui-margin-t-15"><span class="iconfont icon-weixin" style="color:#3baf34; font-size:30px;"></span></div>
    </div>
    -->
</div>

</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            deviceid: '',
            mobile: '',
            password: '',
            eye:1
        },
        methods: {
            init: function () {
               vm.deviceid = api.deviceId;
            },
            login: function () {
                if (vm.mobile == '') {
                    api.toast({
                        msg: '请输入手机号码',
                        duration: 2000,
                        location: 'bottom'
                    });
                    return
                }
                if (!(/^1[3|4|5|7|8]\d{9}$/.test(vm.mobile))) {
                    api.toast({
                        msg: '手机号码有误',
                        duration: 2000,
                        location: 'bottom'
                    });
                    return
                }
                if (vm.password == '') {
                    api.toast({
                        msg: '请输入密码',
                        duration: 2000,
                        location: 'bottom'
                    });
                    return
                }
                api.ajax({
                    url: login_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            deviceid: vm.deviceid,
                            mobile: vm.mobile,
                            password: vm.password
                        }
                    }
                }, function (ret, err) {
                    if (ret) {

                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'bottom'
                        });
                        if(ret.status == 1){
                            $api.setStorage('token',ret.data.token);
                            $api.setStorage('member_info',ret.data);
                            api.sendEvent({
                                name: 'usercenter_init',
                            });
                            api.sendEvent({
                                name: 'cart_list_init',
                            });
                            api.sendEvent({
                                name: 'set_show_index',
                            });
                            setTimeout(function () {
                                api.closeWin({
                                    name: 'login_win'
                                });
                            },500)

                        }
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
            change_eye:function () {
                if(vm.eye == 0){
                    vm.eye = 1;
                }else{
                    vm.eye = 0;
                }
            }
        }
    });
    apiready = function () {

    };
</script>
