<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>订单</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <style>
    </style>
</head>
<body>
<div id="app" v-cloak="">
    <div class="aui-content">
        <ul class="aui-list aui-media-list aui-margin-t-10 aui-bg-orange aui-list-noborder">
            <li class="aui-list-item aui-list-item-middle">
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-inner">
                        <div class="aui-list-item-title aui-text-white">
                            <template v-if="order_info.status ==0">待付款</template>
                            <template v-if="order_info.status ==1">待发货</template>
                            <template v-if="order_info.status ==2">已发货</template>
                            <template v-if="order_info.status ==3">已完成</template>
                            <template v-if="order_info.status ==4">已取消</template>
                        </div>
                        <div class="aui-list-item-text aui-text-white">
                            订单金额（含运费）：¥ {{order_info.order_price}}
                        </div>
                    </div>
                    <div class="aui-list-item-media" style=" width:2rem;">
                        <img src="../../image/ic-bc.png">
                    </div>
                </div>
            </li>
        </ul>
        <ul class="aui-list aui-media-list aui-shadow aui-list-noborder aui-margin-t-10 aui-margin-b-10">
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-title">{{order_info.name}}  {{order_info.mobile}}</div>
                    <p class="aui-font-size-14">{{order_info.address_info}}</p>
                </div>
            </li>
        </ul>
        <ul class="aui-list aui-media-list aui-margin-b-10 aui-shadow aui-list-noborder">
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <template v-for="(vo2,index2) in order_info.order_goods">
                        <div class="aui-media-list-item-inner aui-border-b" @click="open_goodshow_win(vo2)">
                            <div class="aui-list-item-media">
                                <img :src="cover_url+vo2.goods.thumb" class="aui-shadow aui-radius-4">
                            </div>
                            <div class="aui-list-item-inner aui-padded-r-0">
                                <div class="aui-list-item-text">
                                    <div class="aui-list-item-title aui-font-size-12 aui-ellipsis-2">{{vo2.goods_name}}</div>
                                </div>
                                <template v-if="vo2.goods_spec">
                                    <div class="aui-list-item-text aui-font-size-12 aui-padded-t-5">
                                        {{vo2.goods_spec.name}}
                                    </div>
                                </template>
                                <div class="aui-info aui-margin-t-5" style="padding:0">
                                    <div class="aui-info-item aui-text-orange">
                                        ￥{{vo2.goods_price}}元
                                    </div>
                                    <div class="aui-info-item">x{{vo2.goods_num}}</div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </li>
        </ul>
        <ul class="aui-list aui-list-in aui-margin-b-10 aui-shadow aui-list-noborder">
            <li class="aui-list-item" style="background:transparent; min-height:1.6rem;">
                <div class="aui-list-item-inner" style="min-height:1.6rem;">
                    <div class="aui-list-item-title aui-font-size-14">商品小计</div>
                    <div class="aui-list-item-right aui-font-size-14">¥ {{order_info.total_price}}</div>
                </div>
            </li>
            <li class="aui-list-item" style="background:transparent; min-height:1.6rem;">
                <div class="aui-list-item-inner" style="min-height:1.6rem;">
                    <div class="aui-list-item-title aui-font-size-14">运费</div>
                    <div class="aui-list-item-right aui-font-size-14">¥ {{order_info.trans_price}}</div>
                </div>
            </li>
            <li class="aui-list-item" style="background:transparent;min-height:1.6rem;">
                <div class="aui-list-item-inner" style="min-height:1.6rem;">
                    <div class="aui-list-item-title aui-font-size-14">实付款（含运费）</div>
                    <div class="aui-list-item-right aui-text-orange aui-font-size-14">¥ {{order_info.order_price}}</div>
                </div>
            </li>
        </ul>
        <div class="aui-margin-b-10 aui-shadow aui-bg-white aui-padded-10" style=" line-height:1.3rem;">
            <p class="aui-font-size-14">订单编号：<span class="aui-text-black">{{order_info.order_sn}}</span></p>
            <p class="aui-font-size-14">创建时间：<span class="aui-text-black">{{order_info.create_time}}</span></p>
        </div>
    </div>
    <template v-if="order_info.status ==0">
        <footer class="aui-bar aui-bar-tab aui-shadow" id="footer">
            <div class="aui-bar-tab-item aui-text-right aui-padded-r-15">
                <div class="aui-btn aui-btn-outlined" @click="order_cancel(order_info)">取消订单</div>
                <div class="aui-btn aui-btn-orange" @click="go_pay(order_info)">立即支付</div>
            </div>
        </footer>
    </template>
</div>
</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            token: '',
            cover_url:base_url,
            order_info: {},
        },
        methods: {
            go_pay:function (vo) {
                api.openWin({
                    name: 'pay_win',
                    url: 'widget://html/cart/pay_win.html',
                    pageParam: {
                        order_info: vo
                    }
                });
            },
            order_cancel:function (vo) {
                api.confirm({
                    title: '取消订单',
                    msg: '',
                    buttons: ['确定', '取消']
                }, function(ret, err) {
                    if(ret.buttonIndex == 1){
                        api.ajax({
                            url: order_cancel_url,
                            method: 'post',
                            timeout: 30,
                            dataType: 'json',
                            returnAll: false,
                            data: {
                                values: {
                                    token: vm.token,
                                    id: vo.id,
                                }
                            }
                        }, function (ret, err) {
                            if (ret) {
                                console.log(JSON.stringify(ret));
                                api.toast({
                                    msg: ret.msg,
                                    duration: 2000,
                                    location: 'bottom'
                                });
                                api.sendEvent({
                                    name: 'order_list_init'
                                });
                                setTimeout(function () {
                                    api.closeWin({
                                        name:'order_details_win'
                                    });
                                },1000);
                            } else {
                                console.log(JSON.stringify(err));
                                alert(err.msg);
                            }
                        });
                    }
                });
            },
            open_goodshow_win:function (vo) {
                console.log(JSON.stringify(vo));
                api.openWin({
                    name: 'goodshow_win',
                    url: 'widget://html/shop/goodshow_win.html',
                    pageParam: {
                        id: vo.goods_id
                    }
                });
            },
        }
    });
    apiready = function () {
        vm.token = $api.getStorage('token');
        vm.order_info = api.pageParam.order_info;
        console.log(JSON.stringify(vm.order_info));
    };
</script>
