<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>充值</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontcss/iconfont.css" />
    <style>
        .iconfont{ font-size:1.4rem;}
        .aui-list{ border:none; background:none;}
        .aui-list .aui-list-item{ border:none; background:none; border-bottom:1px dashed #cbcbcb;}
        .aui-list .aui-list-item:last-child{ border-bottom:none;}
        .aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked {
            background-color: #f39905;
            border: solid 1px #f39905;
            text-align: center;
            background-clip: padding-box;
        }
        .wexinpay-active {  color: #00C800 !important;  }
        .zhifubaopay-active {  color: #00AAEE !important; }
        .money_activ{
            color: #f39905;
            border: solid 1px #f39905;
        }
        .money_activ p{
            color: #f39905;
        }
    </style>
</head>
<style>

</style>
<body>
<div class="aui-content" id="app">
	<div class="aui-row aui-shadow aui-bg-white aui-padded-15">
    	<h3 class="aui-text-left">选择充值金额</h3>
        <div class="aui-col-xs-6 aui-text-center" @click="select_money(30)">
        	<div class="aui-padded-10 aui-margin-10 aui-shadow aui-bg-list"
                 v-bind:class="{'money_activ':money==30}">
            	<p class="aui-font-size-20">30元</p>
            	<p class="aui-font-size-14 aui-padded-t-5">赠送60积分</p>
            </div>
        </div>
        <div class="aui-col-xs-6 aui-text-center" @click="select_money(50)">
        	<div class="aui-padded-10 aui-margin-10 aui-shadow aui-bg-list"
                 v-bind:class="{'money_activ':money==50}">
            	<p class="aui-font-size-20">50元</p>
            	<p class="aui-font-size-14 aui-padded-t-5">赠送100积分</p>
            </div>
        </div>
        <div class="aui-col-xs-6 aui-text-center" @click="select_money(100)">
        	<div class="aui-padded-10 aui-margin-10 aui-shadow aui-bg-list"
                 v-bind:class="{'money_activ':money==100}">
            	<p class="aui-font-size-20">100元</p>
            	<p class="aui-font-size-14 aui-padded-t-5">赠送200积分</p>
            </div>
        </div>
        <div class="aui-col-xs-6 aui-text-center" @click="select_money(500)">
        	<div class="aui-padded-10 aui-margin-10 aui-shadow aui-bg-list"
                 v-bind:class="{'money_activ':money==500}">
            	<p class="aui-font-size-20">500元</p>
            	<p class="aui-font-size-14 aui-padded-t-5">赠送1000积分</p>
            </div>
        </div>
    </div>
    <h3 class="aui-padded-10">选择充值方式</h3>
    <ul class="aui-list aui-padded-10 aui-shadow aui-bg-white">
        <li class="aui-list-item aui-padded-b-10">
            <div class="aui-list-item-label-icon wexinpay-active">
                <i class="iconfont icon-yingdaicon04"></i>
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title aui-font-size-14">微信
                    <p class="aui-font-size-12">亿万用户的选择</p>
                </div>
                <div class="aui-list-item-right">
                    <input type="radio"  class="aui-radio" value="0" v-model="pay_type">
                </div>
            </div>
        </li>
        <li class="aui-list-item aui-padded-t-10">
            <div class="aui-list-item-label-icon zhifubaopay-active">
                <i class="iconfont icon-zhifubao aui-font-size-20"></i>
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title">支付宝
                    <p class="aui-font-size-12">推荐使用---支付更优惠</p>
                </div>
                <div class="aui-list-item-right">
                    <input type="radio" class="aui-radio" value="1" v-model="pay_type">
                </div>
            </div>
        </li>
    </ul>
    <div class=" aui-margin-10 aui-margin-t-15">
        <a href="javascript:void(0);" class="aui-btn aui-btn-block aui-btn-orange" @click="init()">确定</a>
    </div>
</div>
</body>
</html>
<script src="../../script/api.js"></script>
<script src="../../script/vue.js"></script>
<script src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            pay_type:1,//1:支付宝，0：微信
            token:'',
            id:0,//订单id
            money: 30,
            form: ""
        },
        methods: {
            init: function (index) {
                api.ajax({
                    url: money_add_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token,
                            money: vm.money,
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        vm.id = ret.data.id;
                        vm.pay();
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
            select_money:function (vo) {
                vm.money = vo;
            },
            pay:function () {
                //支付宝
                if(vm.pay_type == 1){
                    api.ajax({
                        url: aliPayMoney_url,
                        method: 'post',
                        timeout: 30,
                        dataType: 'json',
                        returnAll: false,
                        data: {
                            values: {
                                token: vm.token,
                                id: vm.id
                            }
                        }
                    }, function (ret, err) {
                        if (ret) {
                            console.log(JSON.stringify(ret));
                            vm.form = ret.data.form;
                            var aliPay = api.require('aliPay');
                            aliPay.payOrder({
                                orderInfo: vm.form
                            }, function(ret, err) {
                                var msg = '';
                                if(ret.code == 9000){
                                    msg = '支付成功';
                                }
                                if(ret.code == 6001){
                                    msg = '取消支付';
                                }
                                if(ret.code == 4006){
                                    msg = '支付失败';
                                }
                                api.alert({
                                    title: '支付结果',
                                    msg: msg,
                                    buttons: ['确定']
                                });
                                api.closeToWin({
                                    name: 'root'
                                });
                            });
                        } else {
                            console.log(JSON.stringify(err));
                        }
                    });
                }

                //微信支付
                if(vm.pay_type == 0){
                    api.ajax({
                        url: weixinPayMoney_url,
                        method: 'post',
                        timeout: 30,
                        dataType: 'json',
                        returnAll: false,
                        data: {
                            values: {
                                token: vm.token,
                                id: vm.id
                            }
                        }
                    }, function (ret, err) {
                        if (ret) {
                            console.log(JSON.stringify(ret));
                            vm.form = ret.data;
                            var wxPay = api.require('wxPay');
                            wxPay.payOrder({
                                apiKey: vm.form.appid,
                                orderId: vm.form.prepayid,
                                mchId: vm.form.partnerid,
                                nonceStr: vm.form.noncestr,
                                timeStamp: vm.form.timestamp,
                                package: vm.form.package,
                                sign: vm.form.sign
                            }, function(ret, err) {
                                if (ret.status) {
                                    api.alert({
                                        title: '充值结果',
                                        msg: '付款成功',
                                        buttons: ['确定']
                                    });
                                    api.closeToWin({
                                        name: 'root'
                                    });
                                } else {
                                    api.alert({
                                        title: '充值结果',
                                        msg: '付款失败',
                                        buttons: ['确定']
                                    });
                                    api.closeToWin({
                                        name: 'root'
                                    });
                                }
                            });
                        } else {
                            console.log(JSON.stringify(err));
                        }
                    });
                }
            }
        }
    });
    apiready = function () {
        vm.token = $api.getStorage('token');
    };
</script>