<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>优惠券-可用</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <style>
		.aui-card-list-content-padded{ position:static}
        .aui-card-list-footer{position:static;margin-top:-2px;}
		.couponLine {z-index:10;margin-top:-2px;overflow: hidden;}
    </style>
</head>
<body>
    <section class="aui-content-padded" id="app">
        <template v-for="(vo,index) in list">
            <div class="aui-card-list">
                <div class="aui-card-list-content-padded aui-radius-4 aui-shadow">
                    <div class="aui-row aui-padded-t-5">
                        <div class="aui-col-xs-3">
                            <div class=" aui-text-danger aui-text-center aui-padded-r-10" style="width:auto;">
                                ￥<span style=" font-size:1.4rem;">{{vo.reduce_price}}</span>
                            </div>
                        </div>
                        <div class="aui-col-xs-9 aui-list aui-media-list aui-list-noborder">
                            <div class="aui-list-item aui-padded-0">
                                <div class="aui-list-item-inner aui-padded-0">
                                    <div class="aui-list-item-text">
                                        <div class="aui-list-item-title aui-font-size-16">新用户立减</div>
                                        <div class="aui-list-item-right">
                                            <div class="aui-btn aui-btn-outlined aui-pull-right" @click="use_coupon(vo)">使用</div>
                                        </div>
                                    </div>
                                    <div class="aui-list-item-text aui-font-size-12">限本账号使用</div>
                                    <template v-if="vo.valid_days > 1">
                                        <div class="aui-list-item-text aui-font-size-12">有效期：{{vo.valid_days}}天</div>
                                    </template>
                                    <template v-else>
                                        <div class="aui-list-item-text aui-font-size-12">有效期：永久有效</div>
                                    </template>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="couponLine"><img src="../../image/coupon.png"></div>
                <div class="aui-card-list-footer aui-radius-4 aui-shadow">
                    <p class="aui-font-size-14">新用户首次注册领取</p>
                </div>
            </div>
        </template>

    </section>
</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            token: '',
            list: []
        },
        methods: {
            init: function () {
                api.ajax({
                    url: used_coupon_list_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        vm.list = ret.data.coupon_list;
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
            use_coupon:function (vo) {
                api.sendEvent({
                    name: 'coupon_id_init',
                    extra: {
                        vo: vo
                    }
                });
                setTimeout(function () {
                    api.closeWin({
                        name:'used_coupon_list_win'
                    });
                },300);
            }
        }
    });
    apiready = function () {
        vm.token = $api.getStorage('token');
        vm.list = api.pageParam.list;
        //vm.init();
    };
</script>