<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>我的-个人资料</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontcss/iconfont.css" />
    <style type="text/css">
	.aui-list{ background-image:none;}
	.aui-list.aui-list-in .aui-list-item {background-position: 0rem bottom;}
	.aui-list-item-arrow:before {border: 1px solid #8f8f8f;border-top: none;border-right: none;}
    .aui-radio{width:0.9rem; height:0.9rem;}
    .aui-radio:checked, .aui-radio.aui-checked{background-color: #ffc800;border:none;}
    </style>

</head>
<body>
<section class="aui-content" id="app" v-cloak>
    <ul class="aui-list aui-list-in aui-shadow aui-margin-t-10">
    	<li class="aui-list-item">
            <div class="aui-list-item-inner aui-padded-r-0">
                <div class="aui-list-item-title aui-font-size-14">头像</div>
                <div class="aui-list-item-media" style="width:3rem;" @click="select_cover()">
                    <img :src="cover" class="aui-img-round">
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label aui-font-size-14"> 性别</div>
                <div class="aui-list-item-input">
                    <label><input class="aui-radio aui-margin-r-5 aui-margin-t-5" type="radio" value="0" v-model="sex">男</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input class="aui-radio aui-margin-r-5 aui-margin-t-5" type="radio" value="1" v-model="sex">女</label>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
            	<div class="aui-list-item-label aui-font-size-14"> 年龄</div>
                <div class="aui-list-item-input">
                    <input type="number" placeholder="年龄" class="aui-font-size-14" v-model="age">
                </div>
            </div>
        </li>
    </ul>
    <ul class="aui-list aui-list-in aui-shadow aui-margin-t-10">
        <li class="aui-list-item  aui-list-item-arrow" onclick="open_window('member','updatepwd_win')">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-title aui-font-size-14">修改密码</div>
            </div>
        </li>
    </ul>
</section>
</body>
</html>
<script src="../../script/api.js"></script>
<script src="../../script/vue.js"></script>
<script src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            base_url:base_url,
            token: '',
            username:'',
            sex:0,
            age:'',
            cover:'../../image/user_pic.png',
            cover_url:''
        },
        methods: {
            init:function () {
                api.ajax({
                    url: member_detail_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        vm.username = ret.data.username;
                        if(ret.data.cover){
                            vm.cover = vm.base_url+ret.data.cover;
                        }
                        vm.sex = ret.data.sex?ret.data.sex:0;
                        vm.age = ret.data.age?ret.data.age:0;
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
            login_out: function () {
                vm.token = null;
                vm.member_info = null;
                $api.setStorage('token',null);
                $api.setStorage('member_info',null);
                api.toast({
                    msg: '退出成功',
                    duration: 2000,
                    location: 'bottom'
                });
                api.sendEvent({
                    name: 'set_show_index',
                });
                api.sendEvent({
                    name: 'usercenter_init',
                });
                setTimeout(function () {
                    api.closeWin({
                        name: 'usenter_win'
                    });
                },500)
            },
            select_cover:function () {
                api.getPicture({
                    sourceType: 'library',
                    encodingType: 'jpg',
                    mediaValue: 'pic',
                    destinationType: 'url',
                    allowEdit: true,
                    quality: 50,
                    targetWidth: 100,
                    targetHeight: 100,
                    saveToPhotoAlbum: false
                }, function(ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        vm.cover = ret.data;
                        vm.file_upload();
                    } else {
                        alert(JSON.stringify(err));
                    }
                });
            },
            file_upload:function () {
                api.ajax({
                    url: upload_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token
                        },
                        files: {
                            file: vm.cover
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        vm.cover_url = ret.path + '/' + ret.name;
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },

            member_modify:function () {
                api.ajax({
                    url: member_modify_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token,
                            username: vm.username,
                            sex: vm.sex,
                            age: vm.age,
                            cover: vm.cover_url,
                        }
                    }
                }, function (ret, err) {
                    api.toast({
                        msg: ret.msg,
                        duration: 2000,
                        location: 'middle'
                    });
                    if (ret) {
                        api.sendEvent({
                            name: 'usercenter_init',
                        });
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            }

        }
    });
    apiready = function () {
        vm.token = $api.getStorage('token');
        vm.init();

        api.addEventListener({
            name: 'init_member_modify'
        }, function (ret, err) {
            vm.member_modify();
        });
    };
</script>
