<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>确认订单</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
</head>
<style>
.aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked {
    background-color: #f39905;
    border: solid 1px #f39905;
    text-align: center;
    background-clip: padding-box;
}
.aui-list-item-arrow:before{border: 1px solid #333;border-top: none; border-right: none;}
.aui-bar-btn-item{border-color: #dddddd;}

.aui-list textarea{ height:auto;}
.aui-input, input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="datetime-local"], input[type="time"], input[type="number"], select, textarea{ font-size:0.7rem; height:auto;}
</style>
<body>
<div class="aui-content aui-padded-b-15" id="app" v-cloak="">
	<div class="aui-bg-white aui-shadow aui-padded-10">
    	<span class="aui-font-size-14 aui-padded-r-15">配送方式</span><div class="aui-label aui-label-orange aui-padded-5 aui-radius-4 aui-font-size-14">商家配送</div>
    </div>
	<ul class="aui-list aui-media-list aui-shadow aui-margin-t-10" style="background-image:none;">
        <li class="aui-list-item aui-list-item-middle">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-media" style="width:1.8rem;">
                    <img src="../../image/ico-address.png" class="aui-list-img-sm">
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow" onclick="open_window('cart','address_list_win')">
                    <template v-if="address_item">
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title aui-font-size-14">{{address_item.name}}  {{address_item.mobile}}</div>
                        </div>
                        <div class="aui-list-item-text aui-font-size-12 aui-ellipsis-2">
                            {{address_item.address_info}}
                        </div>
                    </template>
                    <template v-else>
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title aui-font-size-14">请选择一个收货地址</div>
                        </div>
                    </template>
                </div>
            </div>
        </li>
        <li class="aui-list-item aui-list-item-middle">
            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-text">
                        <div class="aui-list-item-title aui-font-size-14">送达时间</div>
                        <div class="aui-text-info">
                            <div class="aui-list-item-input">
                                <select v-model="service_time">
                                    <option value="9-11点">9-11点</option>
                                    <option value="11-13点">11-13点</option>
                                    <option value="13-15点">13-15点</option>
                                    <option value="15-17点">15-17点</option>
                                    <option value="17-19点">17-19点</option>
                                    <option value="19-21点">19-21点</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
	<div class="aui-padded-10 aui-margin-t-10 aui-bg-white aui-shadow">
    	<div class="aui-list-header aui-padded-b-10">蜗居乐购自营</div>
        <ul class="aui-list aui-media-list">
            <template v-for="(vo,index) in cart_list">
                <li class="aui-border-b">
                    <div class="aui-media-list-item-inner">
                        <div class="aui-list-item-media" @click="open_goodshow_win(vo)">
                            <template v-if="vo.goods_spec">
                                <img :src="cover_url + vo.goods_spec.thumb" class="aui-shadow aui-radius-4">
                            </template>
                            <template v-else>
                                <img :src="cover_url + vo.goods.thumb" class="aui-shadow aui-radius-4">
                            </template>
                        </div>
                        <div class="aui-list-item-inner">
                            <div class="aui-list-item-text">
                                <div class="aui-list-item-title aui-font-size-12 aui-ellipsis-2"
                                     @click="open_goodshow_win(vo)">
                                    {{vo.goods.name}}
                                </div>
                            </div>
                            <template v-if="vo.goods_spec">
                                <div class="aui-list-item-text aui-font-size-12">{{vo.goods_spec.name}}</div>
                            </template>
                            <div class=" aui-row aui-margin-t-5">
                                <div class="aui-col-xs-7 aui-text-orange">
                                    <template v-if="vo.goods_spec">
                                        <strong>￥{{vo.goods_spec.market_price}}</strong>
                                    </template>
                                    <template v-else>
                                        <strong>￥{{vo.goods.market_price}}</strong>
                                    </template>
                                </div>
                                <div class="aui-col-xs-5 aui-text-right aui-text-gray">x{{vo.goods_num}}</div>
                            </div>
                        </div>
                    </div>
                </li>
            </template>

            <li class="aui-padded-t-10 aui-padded-r-5 aui-text-right aui-font-size-14">
            	共{{goods_num}}件商品 合计：<span class="aui-text-orange"><strong>￥{{total_price}}</strong></span>
            </li>
        </ul>
    </div>
    <template v-if="coupon_list.length > 0">
        <ul class="aui-list aui-list-in aui-shadow aui-list-noborder aui-margin-t-10">
            <li class="aui-list-item" @click="open_used_coupon_list_win()">
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <div class="aui-list-item-title aui-font-size-14">优惠券</div>
                    <div class="aui-list-item-right">
                        <div class="aui-badge" style="position:relative;top:0; left:0">{{coupon_num}}</div>
                    </div>
                </div>
            </li>
        </ul>
    </template>
    <template v-if="coupon_id > 0">
        <ul class="aui-list aui-list-in aui-shadow aui-list-noborder aui-margin-t-10 aui-margin-b-10" style=" padding-right:0.75rem;">
            <li class="aui-list-item">
                <div class="aui-list-item-inner aui-padded-r-0">
                    <div class="aui-list-item-title aui-font-size-14">使用：{{coupon_info.name}}</div>
                    <div class="aui-list-item-right">-￥{{coupon_info.reduce_price}}</div>
                </div>
            </li>
        </ul>
    </template>


    <ul class="aui-list aui-form-list aui-shadow aui-list-noborder aui-margin-t-10">
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label aui-font-size-14" style=" width:auto;">
                    选填：
                </div>
                <div class="aui-list-item-input aui-font-size-14">
                    <input type="text" placeholder="买家留言（50字以内）" v-model="content">
                </div>
            </div>
        </li>
    </ul>

    <ul class="aui-list aui-list-in aui-shadow aui-list-noborder aui-margin-t-10 aui-margin-b-10" style=" padding-right:0.75rem;">
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-padded-r-0">
                <div class="aui-list-item-title aui-font-size-14">商品小计</div>
                <div class="aui-list-item-right">￥{{total_price}}</div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner aui-padded-r-0">
                <div class="aui-list-item-title aui-font-size-14">运费</div>
                <div class="aui-list-item-right">￥{{trans_price}}</div>
            </div>
        </li>
    </ul>

</div>
</body>
</html>
<script src="../../script/api.js"></script>
<script src="../../script/vue.js"></script>
<script src="../../script/common.js"></script>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            token:'',
            cover_url:base_url,
            goods_num: 0,
            total_price: 0.00,
            trans_price: 0.00,
            address_list: '',
            address_item:'',
            address_id:0,
            coupon_list: '',
            coupon_num: 0,
            coupon_id:0,
            coupon_info:'',
            cart_list: '',
            content: '',

            order_info:[],
            service_time:'9-11点'

        },
        methods: {
            order_create: function () {
                if(vm.address_id == 0){
                    api.toast({
                        msg: '选择收货地址',
                        duration: 2000,
                        location: 'bottom'
                    });
                    open_window('cart','address_list_win');
                    return false;
                }
                api.ajax({
                    url: order_create_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token,
                            coupon_id:vm.coupon_id,
                            address_id:vm.address_id,
                            content:vm.content,
                            service_time:vm.service_time,
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        if(ret.status == 1){
                           vm.order_info = ret.data;
                            api.openWin({
                                name: 'pay_win',
                                url: 'widget://html/cart/pay_win.html',
                                pageParam: {
                                    order_info: vm.order_info
                                }
                            });
                        }
                    } else {
                        console.log(JSON.stringify(err));
                        alert(err.msg);
                    }
                });
            },
            open_goodshow_win:function (vo) {
                api.openWin({
                    name: 'goodshow_win',
                    url: 'widget://html/shop/goodshow_win.html',
                    pageParam: {
                        id: vo.goods_id
                    }
                });
            },
            open_used_coupon_list_win:function () {
                api.openWin({
                    name: 'used_coupon_list_win',
                    url: 'widget://html/member/used_coupon_list_win.html',
                    pageParam: {
                        list: vm.coupon_list
                    }
                });
            }
        }
    });
    apiready = function () {
        vm.token = $api.getStorage('token');
        vm.goods_num = api.pageParam.goods_num;
        vm.total_price = api.pageParam.total_price;
        vm.trans_price = api.pageParam.trans_price;
        vm.address_list = api.pageParam.address_list;
        if(vm.address_list.length > 0){
            vm.address_item = vm.address_list[0];
            vm.address_id = vm.address_list[0].id;
        }
        vm.coupon_list = api.pageParam.coupon_list;
        if(vm.coupon_list.length > 0){
           vm.coupon_num = vm.coupon_list.length;
        }
        vm.cart_list = api.pageParam.cart_list;

        api.addEventListener({
            name: 'address_item_init'//切换地址
        }, function (ret, err) {
           //console.log(JSON.stringify(ret));
           vm.address_item = ret.value.address_item;
           vm.address_id = ret.value.address_item.id;
        });
        api.addEventListener({
            name: 'coupon_id_init'//切换优惠券
        }, function (ret, err) {
            vm.coupon_info = ret.value.vo;
            vm.coupon_id = ret.value.vo.coupon_id;
        });
        api.addEventListener({
            name: 'order_create_init'//创建订单操作
        }, function (ret, err) {
            vm.order_create();
        });
    };
</script>