<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>信息发布-出售</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontcss/iconfont.css" />
    <style>
	.aui-list .aui-list-item-label{ width:25%;}
	aui-input, input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="datetime-local"], input[type="time"], input[type="number"], select, textarea{font-size: 0.7rem !important;}
	.aui-list textarea{ height:auto;}
	.aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked{background-color:#f39b0a;border: solid 1px #f39b0a;}
	.aui-radio, .aui-checkbox{margin-top: 0.2rem;width:0.8rem;height:0.8rem; }

	.aui-list-item-label{font-size: 0.7rem !important;}
	.aui-list-item-input{font-size: 0.7rem !important;}
	select{font-size: 0.7rem !important;}

    </style>
</head>
<body>
<div class="aui-content aui-margin-b-15" id="app" v-cloak="">
    <div class="aui-padded-15">
        <div class="aui-card-list-content" @click="select_cover()">
            <img :src="cover" class="aui-img-round" style="width:4rem;margin:auto;">
        </div>
    </div>
    <ul class="aui-list aui-form-list aui-shadow aui-list-noborder aui-margin-t-10 aui-margin-b-10">
        <li class="aui-list-header aui-bg-orange aui-font-size-14" style=" color:#fff;">基本信息</li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">类别:</div>
                <div class="aui-list-item-input">
                    <select v-model="type">
                        <option value="1">二手房</option>
                        <option value="2">办公写字楼</option>
                        <option value="3">店面商铺</option>
                        <option value="4">平房/独院</option>
                        <option value="5">厂房/仓库/车库</option>
                        <option value="6">其他房讯</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 标题:</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="标题" v-model="title">
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 总价:</div>
                <div class="aui-list-item-input">
                    <input type="number" placeholder="总价" v-model="total_price">
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">能否贷款:</div>
                <div class="aui-list-item-input">
                    <select v-model="is_loan">
                        <option value="0">能</option>
                        <option value="1">不能</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">房屋类型:</div>
                <div class="aui-list-item-input">
                    <select v-model="house_type">
                        <option value="1">普通住宅</option>
                        <option value="2">商住两用</option>
                        <option value="3">公寓、平房、别墅</option>
                        <option value="4">其他</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">选择朝向:</div>
                <div class="aui-list-item-input">
                    <select v-model="direction">
                        <option value="1">南北，南，西</option>
                        <option value="2">北，东西</option>
                        <option value="3">东南，西南</option>
                        <option value="4">东北，西北</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">装修情况:</div>
                <div class="aui-list-item-input">
                    <select v-model="decoration">
                        <option value="1">毛坯</option>
                        <option value="2">简单装修</option>
                        <option value="3">中等装修</option>
                        <option value="4">精装修</option>
                        <option value="5">豪华装修</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 小区名称:</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="小区名称" v-model="name">
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 地址:</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="地址" v-model="address">
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="">
                <div class=" aui-font-size-14 aui-padded-t-10">房屋特色:</div>
                <div class="aui-list-item-input aui-row aui-padded-10">
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="1" v-model="feature">学区房</label>
                    </div>
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="2" v-model="feature">园林及小区</label>
                    </div>
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="3" v-model="feature">户型好</label>
                    </div>
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="4" v-model="feature">交通便利</label>
                    </div>
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="5" v-model="feature">南北通透</label>
                    </div>
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="6" v-model="feature">豪华装修</label>
                    </div>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">房源描述:</div>
                <div class="aui-list-item-input">
                    <textarea placeholder="房源描述" v-model="desc"></textarea>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">联系人:</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="联系人" v-model="contacts">
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">联系电话:</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="联系电话" v-model="telephone">
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            token: '',
            base_url:base_url,
            cover_url:'',
            cover:'../../image/user_pic.png',
            thumb:'',

            type:1,//类别
            title:'',//标题
            total_price:'',//总价
            is_loan:0,//是否能贷款
            house_type:1,//住宅类型
            direction:1,//选择朝向
            decoration:1,//装修情况
            name:'',//小区名称
            address:'',//地址
            feature:[],//地址
            desc:'',//描述
            contacts:'',//联系人
            telephone:'',//手机


        },
        methods: {
            init: function () {
                api.ajax({
                    url: sale_add_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token,

                            type: vm.type,
                            title: vm.title,
                            total_price: vm.total_price,
                            is_loan: vm.is_loan,
                            house_type: vm.house_type,
                            direction: vm.direction,
                            decoration: vm.decoration,
                            name: vm.name,
                            address: vm.address,
                            feature: vm.feature,
                            desc: vm.desc,
                            contacts: vm.contacts,
                            telephone: vm.telephone,
                            thumb: vm.thumb

                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'bottom'
                        });
                        if(ret.status == 1){
                            api.sendEvent({
                                name: 'sale_list_init',
                            });
                            setTimeout(function () {
                                api.closeWin({
                                    name: 'chushou-posted_win'
                                });
                            },1000)
                        }
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
            select_cover:function () {
                api.getPicture({
                    sourceType: 'library',
                    encodingType: 'jpg',
                    mediaValue: 'pic',
                    destinationType: 'url',
                    allowEdit: true,
                    quality: 50,
                    targetWidth: 100,
                    targetHeight: 100,
                    saveToPhotoAlbum: false
                }, function(ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        if(ret.data){
                            vm.cover = ret.data;
                            vm.file_upload();
                        }
                    } else {
                        alert(JSON.stringify(err));
                    }
                });
            },
            file_upload:function () {
                api.ajax({
                    url: upload_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token
                        },
                        files: {
                            file: vm.cover
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        vm.cover_url = ret.path + '/' + ret.name;
                        vm.thumb = ret.path + '/' + ret.name;
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
        }
    });

    apiready = function () {
        vm.token = $api.getStorage('token');
        api.addEventListener({
            name: 'sale_add_init'
        }, function (ret, err) {
            vm.init();
        });
    };
</script>
