<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>信息发布-店铺装让</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontcss/iconfont.css" />
    <style>
        .aui-list .aui-list-item-label{ width:25%;}
        aui-input, input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="datetime-local"], input[type="time"], input[type="number"], select, textarea{font-size: 0.7rem !important;}
        .aui-list textarea{ height:auto;}
        .aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked{background-color:#f39b0a;border: solid 1px #f39b0a;}
        .aui-radio, .aui-checkbox{margin-top: 0.2rem;width:0.8rem;height:0.8rem; }

        .aui-list-item-label{font-size: 0.7rem !important;}
        .aui-list-item-input{font-size: 0.7rem !important;}
        select{font-size: 0.7rem !important;}

        input[type="number"]{border-radius:4px;height: 1.3rem; margin:5px; text-align: center;}
    </style>
</head>
<body>
<div class="aui-content aui-margin-b-15" id="app" v-cloak="">
    <div class="aui-padded-15">
        <div class="aui-card-list-content">
            <img :src="cover" class="aui-img-round" style="width:4rem;margin:auto;">
        </div>
    </div>
    <ul class="aui-list aui-form-list aui-shadow aui-list-noborder aui-margin-t-10 aui-margin-b-10">
        <li class="aui-list-header aui-bg-orange aui-font-size-14" style=" color:#fff;">基本信息</li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">类别:</div>
                <div class="aui-list-item-input">
                    <select v-model="type" disabled>
                        <option value="1">个人</option>
                        <option value="2">中介</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 标题:</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="标题" v-model="title" disabled>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 转让费:</div>
                <div class="aui-list-item-input" style=" line-height:36px;">
                    <input type="number" placeholder="10" style=" width: 30%;float: left;border: 1px solid #eee;" v-model="trans_price" disabled>万元
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 商铺租金:</div>
                <div class="aui-list-item-input" style=" line-height:36px;">
                    <input type="number" placeholder="1200" style=" width: 30%;float: left;border: 1px solid #eee;" v-model="rent_price" disabled>元/月
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 面积:</div>
                <div class="aui-list-item-input" style=" line-height:36px;">
                    <input type="number" placeholder="150" style=" width: 30%;float: left;border: 1px solid #eee;" v-model="area" disabled>平米
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">装修情况:</div>
                <div class="aui-list-item-input">
                    <select v-model="decoration" disabled>
                        <option value="1">毛坯</option>
                        <option value="2">简单装修</option>
                        <option value="3">中等装修</option>
                        <option value="4">精装修</option>
                        <option value="5">豪华装修</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">所属行业:</div>
                <div class="aui-list-item-input">
                    <select v-model="industry" disabled>
                        <option value="1">超市零售</option>
                        <option value="2">餐饮美食</option>
                        <option value="3">美容美发</option>
                        <option value="4">酒店宾馆</option>
                        <option value="5">电子通讯</option>
                        <option value="6">服饰鞋包</option>
                        <option value="7">专柜转让</option>
                        <option value="8">家居建材</option>
                        <option value="9">教育培训</option>
                        <option value="10">汽修美容</option>
                        <option value="11">生活服务</option>
                        <option value="12">休闲娱乐</option>
                        <option value="13">医药保健</option>
                        <option value="14">其他</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">商铺类型:</div>
                <div class="aui-list-item-input">
                    <select v-model="shop_type" disabled>
                        <option value="1">购物中心</option>
                        <option value="2">临街店铺</option>
                        <option value="3">摊位/柜台</option>
                        <option value="4">写字楼底商</option>
                        <option value="5">住宅底商</option>
                        <option value="6">其他</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">当前状态:</div>
                <div class="aui-list-item-input">
                    <select v-model="status" disabled>
                        <option value="1">新铺</option>
                        <option value="2">空铺</option>
                        <option value="3">营业中</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 地址:</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="地址" v-model="address" disabled>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">房源描述:</div>
                <div class="aui-list-item-input">
                    <textarea placeholder="房源描述" v-model="desc" disabled></textarea>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">联系人:</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="联系人" v-model="contacts" disabled>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">联系电话:</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="联系电话" v-model="telephone" disabled>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            token: '',
            base_url:base_url,
            cover_url:'',
            cover:'../../image/user_pic.png',
            id:0,

            type:1,//类别
            title:'',//标题
            trans_price:'',//转让费
            rent_price:'',//店铺租金
            area:'',//面积
            decoration:1,//装修情况
            industry:1,//所属行业
            shop_type:1,//商铺类型
            status:1,//状态

            address:'',//地址
            desc:'',//描述
            contacts:'',//联系人
            telephone:'',//手机


        },
        methods: {
            init: function () {
                api.ajax({
                    url: shop_detail_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token,
                            id:vm.id
                        }
                    }
                }, function (ret, err) {
                    if (ret) {

                        vm.type = ret.data.type;
                        vm.title = ret.data.title;
                        vm.trans_price = ret.data.trans_price;
                        vm.rent_price = ret.data.rent_price;
                        vm.area = ret.data.area;
                        vm.decoration = ret.data.decoration;
                        vm.industry = ret.data.industry;
                        vm.shop_type = ret.data.shop_type;
                        vm.status = ret.data.status;
                        vm.address = ret.data.address;
                        vm.desc = ret.data.desc;
                        vm.contacts = ret.data.contacts;
                        vm.telephone = ret.data.telephone;
                        if(ret.data.thumb){
                            vm.cover = vm.base_url+ret.data.thumb;
                        }
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            }
        }
    });

    apiready = function () {
        vm.token = $api.getStorage('token');
        vm.id = api.pageParam.id;
        vm.init();
    };
</script>
