<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>全职</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontcss/iconfont.css" />
</head>
<body>
<div class="aui-content aui-padded-t-10" id="app" v-cloak="">
    <template v-for="(vo,index) in list">
        <div class="aui-shadow aui-bg-white aui-margin-b-10 aui-padded-10" @click="open_jianzhizhaopin_show_win(vo)">
            <div class="aui-row aui-padded-b-10">
                <div class="aui-col-xs-12 aui-font-size-14 aui-ellipsis-1">
                    <template v-if="vo.type==1">促销/导购</template>
                    <template v-if="vo.type==2">传单派发</template>
                    <template v-if="vo.type==3">钟点工</template>
                    <template v-if="vo.type==4">服务员</template>
                    <template v-if="vo.type==5">生活配送员</template>
                    <template v-if="vo.type==6">护工</template>
                    <template v-if="vo.type==7">催乳师</template>
                    <template v-if="vo.type==7">问卷调查</template>
                    <template v-if="vo.type==7">活动营销</template>
                    <template v-if="vo.type==7">网络营销</template>
                    <template v-if="vo.type==7">游戏代练</template>
                    <template v-if="vo.type==7">网站建设</template>
                    <template v-if="vo.type==7">SEO优化</template>
                    <template v-if="vo.type==7">软件开发/编程</template>
                    <template v-if="vo.type==7">兼职测试</template>
                    <template v-if="vo.type==7">网络布线/维修</template>
                    <template v-if="vo.type==7">美工/平面设计</template>
                    <template v-if="vo.type==7">CAD制图/装修设计</template>
                    <template v-if="vo.type==7">图片处理</template>
                </div>
                <div class="aui-col-xs-6">
                    <p class="aui-font-size-12 aui-padded-t-5">
                        招聘人数{{vo.numbers}}
                        |

                        <template v-if="vo.pay_type==1">日结</template>
                        <template v-if="vo.pay_type==2">周结</template>
                        <template v-if="vo.pay_type==3">日结</template>
                        <template v-if="vo.pay_type==4">完工结算</template>
                    </p>
                    <p class="aui-font-size-12 aui-padded-t-5">{{vo.name}}</p>
                </div>
                <div class="aui-col-xs-6 aui-text-right">
                    <p class="aui-font-size-12 aui-padded-t-5">{{vo.create_time}}</p>
                    <div class="aui-text-orange aui-padded-t-5 aui-font-size-14">
                        {{vo.salary}}/天
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            cover_url:base_url,
            token:'',
            list: [],
            status:0,
            page:1,
            pagesize:10
        },
        methods: {
            init: function () {
                api.ajax({
                    url: parttime_job_list_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token,
                            status: vm.status,
                            page:vm.page,
                            pagesize:vm.pagesize
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        if (vm.page == 1) {
                            vm.list = ret.data.list;
                        } else {
                            if(ret.data.list.length == 0 ){
                                api.toast({
                                    msg: '加载完成',
                                    duration: 2000,
                                    location: 'bottom'
                                });
                                return false;
                            }
                            for (var i = 0; i < ret.data.list.length; i++) {
                                vm.list.push(ret.data.list[i]);
                            }
                        }

                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
            open_jianzhizhaopin_show_win:function (vo) {
                api.openWin({
                    name: 'jianzhizhaopin_show_win',
                    url: 'widget://html/bianmin/jianzhizhaopin_show_win.html',
                    pageParam: {
                        id: vo.id
                    }
                });
            },
        }
    });
    apiready = function () {
        vm.token = $api.getStorage('token');
        vm.init();
        api.setRefreshHeaderInfo({
            visible: true,
            loadingImg: 'widget://image/refresh.png',
            bgColor: '#ccc',
            textColor: '#fff',
            textDown: '下拉刷新...',
            textUp: '松开刷新...',
            showTime: true
        }, function (ret, err) {
            vm.page = 1;
            vm.init();
            setTimeout("api.refreshHeaderLoadDone()", '500');
        });

        api.addEventListener({
            name:'scrolltobottom',
            extra:{
                threshold:300
            }
        }, function(ret, err){
            vm.page += 1;
            vm.init();
        });

        api.addEventListener({
            name: 'parttime_job_list_init'
        }, function (ret, err) {
            vm.page = 1;
            vm.init();
        });
    };
</script>
