<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>求租房</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontcss/iconfont.css" />
</head>
<body>
<div class="aui-content aui-padded-t-10" id="app" v-cloak="">
    <template v-for="(vo,index) in list">
        <div class="aui-shadow aui-bg-white aui-margin-b-10 aui-padded-10" @click="open_qiuzufang_show_win(vo)">
            <div class="aui-row aui-padded-b-10">
                <div class="aui-col-xs-12 aui-font-size-14 aui-ellipsis-1">{{vo.title}}</div>
                <div class="aui-col-xs-6">
                    <p class="aui-font-size-12 aui-text-orange aui-padded-t-5">
                        <template v-if="vo.req_room == 1">整租一室</template>
                        <template v-if="vo.req_room == 2">整租两室</template>
                        <template v-if="vo.req_room == 3">整租三室</template>
                        <template v-if="vo.req_room == 4">整租四室</template>
                        <template v-if="vo.req_room == 5">整租四室以上</template>
                        <template v-if="vo.req_room == 6">合租</template>
                    </p>
                    <p class="aui-font-size-12 aui-padded-t-5 aui-ellipsis-1">{{vo.rent_address}}</p>
                </div>
                <div class="aui-col-xs-6 aui-text-right">
                    <p class="aui-font-size-12 aui-padded-t-5">{{vo.create_time}}</p>
                    <div class="aui-text-orange aui-padded-t-5 aui-font-size-14">
                        <template v-if="vo.rent_price == 1">面议</template>
                        <template v-if="vo.rent_price == 2">300元/月以下</template>
                        <template v-if="vo.rent_price == 3">300-500元/月</template>
                        <template v-if="vo.rent_price == 4">500-800元/月</template>
                        <template v-if="vo.rent_price == 5">800-1000元/月</template>
                        <template v-if="vo.rent_price == 6">1000-2000元/月</template>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            cover_url:base_url,
            token:'',
            list: [],
            status:0,
            page:1,
            pagesize:10
        },
        methods: {
            init: function () {
                api.ajax({
                    url: req_rent_list_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token,
                            status: vm.status,
                            page:vm.page,
                            pagesize:vm.pagesize
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        if (vm.page == 1) {
                            vm.list = ret.data.list;
                        } else {
                            if(ret.data.list.length == 0 ){
                                api.toast({
                                    msg: '加载完成',
                                    duration: 2000,
                                    location: 'bottom'
                                });
                                return false;
                            }
                            for (var i = 0; i < ret.data.list.length; i++) {
                                vm.list.push(ret.data.list[i]);
                            }
                        }

                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
            open_qiuzufang_show_win:function (vo) {
                api.openWin({
                    name: 'qiuzufang_show_win',
                    url: 'widget://html/bianmin/qiuzufang_show_win.html',
                    pageParam: {
                        id: vo.id
                    }
                });
            },
        }
    });
    apiready = function () {
        vm.token = $api.getStorage('token');
        vm.init();
        api.setRefreshHeaderInfo({
            visible: true,
            loadingImg: 'widget://image/refresh.png',
            bgColor: '#ccc',
            textColor: '#fff',
            textDown: '下拉刷新...',
            textUp: '松开刷新...',
            showTime: true
        }, function (ret, err) {
            vm.page = 1;
            vm.init();
            setTimeout("api.refreshHeaderLoadDone()", '500');
        });

        api.addEventListener({
            name:'scrolltobottom',
            extra:{
                threshold:300
            }
        }, function(ret, err){
            vm.page += 1;
            vm.init();
        });

        api.addEventListener({
            name: 'req_rent_list_init'
        }, function (ret, err) {
            vm.page = 1;
            vm.init();
        });
    };
</script>
