<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>信息发布-全职招聘</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontcss/iconfont.css" />
    <style>
	.aui-list .aui-list-item-label{ width:25%;}
	aui-input, input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="datetime-local"], input[type="time"], input[type="number"], select, textarea{font-size: 0.7rem !important;}
	.aui-list textarea{ height:auto;}
	.aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked{background-color:#f39b0a;border: solid 1px #f39b0a;}
	.aui-radio, .aui-checkbox{margin-top: 0.2rem;width:0.8rem;height:0.8rem; }

	.aui-list-item-label{font-size: 0.7rem !important;}
	.aui-list-item-input{font-size: 0.7rem !important;}
	select{font-size: 0.7rem !important;}

	input[type="number"]{border-radius:4px;height: 1.3rem; margin:5px; text-align: center;}
    </style>
</head>
<body>
<div class="aui-content aui-margin-b-15" id="app" v-cloak="">
    <div class="aui-padded-15">
        <div class="aui-card-list-content">
            <img :src="cover" class="aui-img-round" style="width:4rem;margin:auto;">
        </div>
    </div>
    <ul class="aui-list aui-form-list aui-shadow aui-list-noborder aui-margin-t-10 aui-margin-b-10">
        <li class="aui-list-header aui-bg-orange aui-font-size-14" style=" color:#fff;">基本信息</li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 类别:</div>
                <div class="aui-list-item-input">
                    <select v-model="job_type" disabled>
                        <option value="1">餐饮</option>
                        <option value="2">家庭保洁</option>
                        <option value="3">娱乐休闲</option>
                        <option value="4">司机</option>
                        <option value="5">客服</option>
                        <option value="6">销售</option>
                        <option value="7">房产中介</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 工作地址:</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="工作地址" v-model="work_address" disabled>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">期望薪资:</div>
                <div class="aui-list-item-input">
                    <select v-model="req_salary" disabled>
                        <option value="0">面议</option>
                        <option value="1">0-1000</option>
                        <option value="2">1000-2000</option>
                        <option value="3">2000-3000</option>
                        <option value="4">3000-5000</option>
                        <option value="5">5000-8000</option>
                        <option value="6">8000-12000</option>
                        <option value="7">12000-20000</option>
                        <option value="8">20000-25000</option>
                        <option value="9">25000以上</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-header aui-bg-orange aui-font-size-14" style=" color:#fff;">基本信息</li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 姓名:</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="姓名" v-model="name"disabled>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">性别:</div>
                <div class="aui-list-item-input">
                    <select v-model="sex" disabled>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">出生年份:</div>
                <div class="aui-list-item-input">
                    <input type="date" placeholder="" style="line-height: 44px;" v-model="year" disabled>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 经验要求:</div>
                <div class="aui-list-item-input">
                    <select v-model="work_time" disabled>
                        <option value="0">不限</option>
                        <option value="1">应届毕业生</option>
                        <option value="2">1-2年</option>
                        <option value="3">3-5年</option>
                        <option value="4">6-7年</option>
                        <option value="5">10年以上</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 学历要求:</div>
                <div class="aui-list-item-input">
                    <select v-model="education" disabled>
                        <option value="0">不限</option>
                        <option value="1">高中</option>
                        <option value="2">大专</option>
                        <option value="3">本科</option>
                        <option value="4">硕士</option>
                        <option value="5">博士</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">手机号码:</div>
                <div class="aui-list-item-input">
                    <input type="number" placeholder="" v-model="telephone" disabled>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            token: '',
            base_url:base_url,
            cover_url:'',
            cover:'../../image/user_pic.png',
            id:0,

            job_type:1,//类型
            work_address:'',//工作地点
            req_salary:3,


            name:'',
            sex:1,
            year:1,
            work_time:1,
            education:3,
            telephone:'',

        },
        methods: {
            init: function () {
                api.ajax({
                    url: fulltime_detail_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token,
                            id: vm.id,
                        }
                    }
                }, function (ret, err) {
                    if (ret) {

                        vm.job_type= ret.data.job_type;
                        vm.work_address= ret.data.work_address;
                        vm.req_salary= ret.data.req_salary;
                        vm.name= ret.data.name;
                        vm.sex= ret.data.sex;
                        vm.year= ret.data.year;
                        vm.work_time= ret.data.work_time;
                        vm.education= ret.data.education;
                        vm.telephone= ret.data.telephone;
                        if(ret.data.thumb){
                            vm.cover = vm.base_url+ret.data.thumb;
                        }
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            }
        }
    });

    apiready = function () {
        vm.token = $api.getStorage('token');
        vm.id = api.pageParam.id;
        vm.init();
    };
</script>

