<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>信息发布</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontcss/iconfont.css" />
    <style>
        .aui-list .aui-list-item-label{ width:25%;}
        aui-input, input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="datetime-local"], input[type="time"], input[type="number"], select, textarea{font-size: 0.7rem !important;}
        .aui-list textarea{ height:auto;}
        .aui-radio:checked, .aui-radio.aui-checked, .aui-checkbox:checked, .aui-checkbox.aui-checked{background-color:#f39b0a;border: solid 1px #f39b0a;}
        .aui-radio, .aui-checkbox{margin-top: 0.2rem;width:0.8rem;height:0.8rem; }

        .aui-list-item-label{font-size: 0.7rem !important;}
        .aui-list-item-input{font-size: 0.7rem !important;}
        select{font-size: 0.7rem !important;}

        input[type="number"]{border-radius:4px;height: 1.3rem; margin:5px; text-align: center;}
    </style>
</head>
<body>
<div class="aui-content aui-margin-b-15" id="app" v-cloak="">
    <div class="aui-padded-15">
        <div class="aui-card-list-content">
            <img :src="cover" class="aui-img-round" style="width:4rem;margin:auto;">
        </div>
    </div>
    <ul class="aui-list aui-form-list aui-shadow aui-list-noborder aui-margin-t-10 aui-margin-b-10">
        <li class="aui-list-header aui-bg-orange aui-font-size-14" style=" color:#fff;">基本信息</li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">出租方式:</div>
                <div class="aui-list-item-input">
                    <label><input class="aui-radio" type="radio" value="1" v-model="rent_type" disabled> 整套出租</label>
                    <label><input class="aui-radio" type="radio" value="2" v-model="rent_type" disabled> 单间出租</label>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label"> 小区名称:</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="小区名称" v-model="name" disabled>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">房屋类型:</div>
                <div class="aui-list-item-input">
                    <select v-model="house_type" disabled>
                        <option value="1">普通住宅</option>
                        <option value="2">商住两用</option>
                        <option value="3">公寓、平房、别墅</option>
                        <option value="4">其他</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">选择朝向:</div>
                <div class="aui-list-item-input">
                    <select v-model="direction" disabled>
                        <option value="1">南北，南，西</option>
                        <option value="2">北，东西</option>
                        <option value="3">东南，西南</option>
                        <option value="4">东北，西北</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">选择朝向:</div>
                <div class="aui-list-item-input">
                    <select v-model="decoration" disabled>
                        <option value="1">毛坯</option>
                        <option value="2">简单装修</option>
                        <option value="3">中等装修</option>
                        <option value="4">精装修</option>
                        <option value="5">豪华装修</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">楼 层:</div>
                <div class="aui-list-item-input" style="line-height:44px;">
                    <span class="aui-pull-left">第</span>
                    <input type="number" disabled v-model="floor" style=" width:20%;border: 1px solid #eee;margin-top:8px;" class="aui-pull-left">
                    <span class="aui-pull-left">层</span>&nbsp;&nbsp;&nbsp;
                    <span class="aui-pull-left">共</span>
                    <input type="number" disabled style=" width:20%;border: 1px solid #eee;margin-top:8px;" class="aui-pull-left">
                    <span class="aui-pull-left">层</span>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label" style="float:left;">租 金:</div>
                <div class="aui-list-item-input" style="line-height:44px;">
                    <input type="number" disabled placeholder="" style=" width:30%;border: 1px solid #eee;margin-top:8px;" class="aui-pull-left" v-model="rent_price">
                    <span class="aui-pull-left">元/月</span>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">付款方式:</div>
                <div class="aui-list-item-input">
                    <select v-model="pay_type" disabled>
                        <option value="1">押一付一</option>
                        <option value="2">押一付三</option>
                        <option value="3">半年付</option>
                        <option value="4">全年付</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="">
                <div class=" aui-font-size-14 aui-padded-t-10">租金已包含费用:</div>
                <div class="aui-list-item-input aui-row aui-padded-10">
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="1" v-model="rent_cost" disabled> 水费</label>
                    </div>
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="2" v-model="rent_cost" disabled> 电费</label>
                    </div>
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="3" v-model="rent_cost" disabled> 燃气费</label>
                    </div>
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="4" v-model="rent_cost" disabled> 宽带费</label>
                    </div>
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="5" v-model="rent_cost" disabled> 物业费</label>
                    </div>
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="6" v-model="rent_cost" disabled> 取暖费</label>
                    </div>
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="7" v-model="rent_cost" disabled>有线电视费</label>
                    </div>
                    <div class="aui-col-xs-4" >
                        <label><input class="aui-checkbox" type="checkbox" value="8" v-model="rent_cost" disabled> 停车费</label>
                    </div>
                </div>
            </div>
        </li>
        <li class="aui-list-header aui-bg-orange aui-font-size-14" style=" color:#fff;">详细信息</li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">标题:</div>
                <div class="aui-list-item-input">
                    <input type="text" placeholder="" v-model="title" disabled>
                </div>
            </div>
        </li>
        <li class="aui-list-item">
            <div class="aui-list-item-inner">
                <div class="aui-list-item-label">房源描述:</div>
                <div class="aui-list-item-input">
                    <textarea placeholder="房源描述" v-model="desc" disabled></textarea>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            token: '',
            base_url:base_url,
            cover_url:'',
            cover:'../../image/user_pic.png',
            id:0,

            rent_type:1,//出租方式
            name:'',//小区名称
            house_type:1,//住宅类型
            direction:1,//选择朝向
            decoration:1,//装修情况
            floor:'',//楼层
            rent_price:'',//租金
            pay_type:1,//付款方式
            rent_cost:[],//租金包含
            title:'',//标题
            desc:'',//描述

        },
        methods: {
            init: function () {
                api.ajax({
                    url: rent_detail_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: vm.token,
                            id: vm.id
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        vm.rent_type = ret.data.rent_type;
                        vm.name = ret.data.name;
                        vm.house_type = ret.data.house_type;
                        vm.direction = ret.data.direction;
                        vm.decoration = ret.data.decoration;
                        vm.floor = ret.data.floor;
                        vm.rent_price = ret.data.rent_price;
                        vm.pay_type = ret.data.pay_type;
                        vm.rent_cost = ret.data.rent_cost;
                        vm.title = ret.data.title;
                        vm.desc = ret.data.desc;
                        if(ret.data.thumb){
                            vm.cover = vm.base_url+ret.data.thumb;
                        }

                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            }
        }
    });

    apiready = function () {
        vm.token = $api.getStorage('token');
        vm.id = api.pageParam.id;
        vm.init();
    };
</script>
