<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>商品详情</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontcss/iconfont.css" />
    <style>
        body{
            background-color: rgba(0,0,0,0);
        }
        .aui-list.aui-list-in .aui-list-item{background-position:2.8rem bottom;}
        .aui-list .aui-list-item:active{
            background: none;
        }

        .flick-menu-mask {
            width: 100%;
            height: 120%;
            min-height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            background: rgba(0,0,0,.5);
            z-index: 200;
        }

    </style>
</head>
<body>
<div id="app" v-cloak>
    <!--baner start-->
    <div id='slider' class='swipe aui-shadow aui-margin-b-10'>
        <div class='swiper-wrapper'>
            <div class="swiper-slide" v-for="(vo,index) in pictures">
                <img :src="vo"/>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!--baner end-->
    <!-- 灰色弹窗弹出层 -->
    <div class="flick-menu-mask aui-hide" v-bind:class="{'aui-show':content_shade==1}"></div>
    <div class="aui-content" >
        <div class="aui-card-list aui-shadow aui-margin-b-10">
            <div class="aui-padded-10">
                <div class="aui-list-item-text aui-font-size-14">
                    <div class="aui-label aui-label-orange aui-padded-5">自营</div>
                    {{goods.name}}
                </div>
                <div class="aui-info" style="padding:0;">
                    <div class="aui-info-item aui-font-size-16">
                        <div class="aui-text-orange">￥{{goods.market_price}}
                            <p class="aui-padded-l-10 aui-padded-t-5 aui-font-size-12" style="text-decoration:line-through">￥{{goods.original_price}}</p>
                        </div>
                    </div>
                    <div class="aui-info-item aui-font-size-14">
                        <span class="aui-padded-r-15">库存:{{goods.stocknum}}</span>   销量:{{goods.order_num}}
                    </div>
                </div>
            </div>
        </div>

        <ul class="aui-list aui-list-in aui-shadow" style="background-image:none">
            <li class="aui-list-item aui-font-size-14">
                <div class="aui-list-item-label-icon"> 送至</div>
                <div class="aui-list-item-inner aui-text-gray">扶风新区及老区（20:00下单的，次日送达）</div>
            </li>
            <li class="aui-list-item aui-font-size-14">
                <div class="aui-list-item-label-icon">运费</div>
                <div class="aui-list-item-inner aui-text-gray"> 满28元免费送货</div>
            </li>
        </ul>
        <template v-if="spec_list.length>0">
            <div class="aui-shadow aui-bg-white aui-margin-t-10 aui-margin-b-10" @click="open_shangpinguige_win()">
                <p class="aui-padded-10 aui-text-black">
                    规格选择
                    <i class="iconfont icon-more aui-pull-right"></i>
                </p>
            </div>
        </template>
        <div class="aui-shadow aui-bg-white aui-margin-t-10 aui-margin-b-10  aui-padded-10">
            <p class="aui-text-black">积分  购买评论后赠送10积分</p>
            <div class="aui-card-list-footer aui-padded-0">
                <div class=" aui-font-size-14 aui-text-black">
                    <span class="aui-text-orange iconfont icon-shouhouwuyou aui-font-size-18"></span> 蜗居发货+售后
                </div>
                <div class=" aui-font-size-14  aui-text-black">
                    <span class="aui-text-orange iconfont icon-shandianshandianfahuotuikuan aui-font-size-16"></span> 极速配送
                </div>
                <div class=" aui-font-size-14 aui-text-black">
                    <span class="aui-text-orange iconfont icon-zuanshi1"></span> 正品保证
                </div>
            </div>
        </div>

        <div class="aui-padded-10">
            <div class="aui-btn aui-btn-block aui-btn-outlined aui-btn-sm" @click="change_tab()">查看详情</div>
        </div>

    </div>
</div>

</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script type="text/javascript" src="../../script/swiper.min.js"></script>
<script>

    var vm = new Vue({
        el: '#app',
        data: {
            UIScrollPicture_height: 0,
            id:0,
            goods:'',
            content_shade:0,

            cover_url:base_url,
            //spic_url:base_url+'/wobuy/upload/images/',
            spic_thumb:'../../image/lazyloading.png',
            cou_index:0,
            price:0.00,
            sku:'',
            thumb:'',
            spec_list:[],
            goods_num:1,
            spec_id:0,
            pictures:[],
            spec_active:0
        },
        methods: {
            init: function () {
                api.ajax({
                    url: goods_info_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            goods_id: vm.id,
                            token:$api.getStorage('token')
                        }
                    }
                }, function (ret, err) {
                    if (ret) {

                        vm.goods = ret.data.goods;
                        vm.spec_list = ret.data.spec_list;
                        if(ret.data.spec_list.length > 0){
                            vm.spec_id = ret.data.spec_list[0].id;
                            vm.spic_thumb = base_url+'/wobuy/upload/images/' + vm.spec_list[vm.cou_index].thumb;
                        }
                        if(ret.data.goods.pictures.length>0){
                            for(var i=0;i<ret.data.goods.pictures.length;i++){
                                vm.pictures.push(vm.cover_url+ret.data.goods.pictures[i])
                            }
                            setTimeout(function () {
                                slider = new Swiper('#slider', {
                                    //autoplay: 3000,
                                    visibilityFullFit : true,
                                    loop: true,
                                    pagination: '.swiper-pagination',
                                    paginationClickable: true
                                });
                            },200);
                            console.log(JSON.stringify(vm.pictures));
                        }
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
            change_spec:function (index) {
                vm.cou_index = index;
                vm.spec_id = vm.spec_list[index].id;
                vm.spic_thumb = base_url+'/wobuy/upload/images/' + vm.spec_list[index].thumb;
                console.log(vm.cou_index);
            },

            add_to_cart:function () {
                if(vm.spec_list.length > 0){
                    vm.open_shangpinguige_win();
                }else{
                    api.ajax({
                        url: add_to_cart_url,
                        method: 'post',
                        timeout: 30,
                        dataType: 'json',
                        returnAll: false,
                        data: {
                            values: {
                                token: $api.getStorage('token'),
                                goods_num:vm.goods_num,
                                goods_id:vm.id,
                                spec_id:vm.spec_id
                            }
                        }
                    }, function (ret, err) {
                        if (ret) {

                            api.toast({
                                msg: ret.msg,
                                duration: 2000,
                                location: 'bottom'
                            });
                            api.sendEvent({
                                name: 'cart_list_init',//刷新购物车
                            });
                        } else {
                            console.log(JSON.stringify(err));
                        }
                    });
                }
            },

            change_sum:function (index) {

                if(index > 0){
                    vm.goods_num += 1;
                }
                if(index < 0){
                    if(vm.goods_num == 1){
                        return false;
                    }else{
                        vm.goods_num -= 1;
                    }
                }
            },

            show_UIScrollPicture:function () {
                var UIScrollPicture = api.require('UIScrollPicture');
                UIScrollPicture.open({
                    rect: {
                        x: 0,
                        y: 0,
                        w: api.winWidth,
                        h: vm.UIScrollPicture_height
                    },
                    data: {
                        paths: vm.pictures
                    },
                    styles: {
                        caption: {
                            height: 35,
                            color: '#E0FFFF',
                            size: 13,
                            bgColor: '#696969',
                            position: 'bottom'
                        }
                    },
                    placeholderImg: 'widget://res/slide1.jpg',
                    contentMode: 'scaleToFill',
                    interval: 3,
                    fixedOn: api.frameName,
                    loop: true,
                    fixed: false
                }, function(ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                    } else {
                        alert(JSON.stringify(err));
                    }
                });
            },

            open_shangpinguige_win:function () {
                vm.content_shade = 1;
                api.openFrame({
                    name: 'shangpinguige_frm',
                    url: 'widget://html/shop/shangpinguige_frm.html',
                    rect: {
                        x: 0,
                        y: api.winHeight/5*2,
                        w: 'auto',
                        h: api.winHeight/5*3
                    },
                    bounces: false,
                    bgColor: 'rgba(0,0,0,0)',
                    animation:{
                        type:"push",                //动画类型（详见动画类型常量）
                        subType:"from_bottom",       //动画子类型（详见动画子类型常量）
                        duration:300                //动画过渡时间，默认300毫秒
                    },
                    pageParam: {
                        id: vm.id
                    }
                });
            },

            change_tab:function () {
                api.setFrameGroupIndex({
                    name: 'goods_showfrm',
                    index: 1,
                    scroll: false
                });
            }
        }
    });
    apiready = function () {
        vm.UIScrollPicture_height = api.frameHeight/2;
        //$api.css($api.byId("app"),'margin-top:'+vm.UIScrollPicture_height+'px');
        vm.id = api.pageParam.id;
        vm.init();
        api.addEventListener({
            name: 'add_to_cart_init'
        }, function (ret, err) {
            vm.add_to_cart();
        });

        api.addEventListener({
            name: 'init_content_shade'
        }, function (ret, err) {
            vm.content_shade = 0;
        });
    };
</script>
