<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>商品规格</title>
    <link rel="stylesheet" type="text/css" href="../../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/fontcss/iconfont.css" />
    <style>
        body {
           background-color: #ffffff;
        }
        /*点击删除默认的阴影部分*/
        .aui-list .aui-list-item:active {
            background-color: #ffffff !important;
        }
        .aui-list.aui-list-in .aui-list-item{background-position:2.8rem bottom;}
        .pro-guige p a {
            height:30px;
            border: 1px solid #bfbfbf;
            border-radius: 4px;
            line-height:30px;
            color: #232326;
            float: left;
            margin:0 0.15rem;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width:30.5%;
            text-align: center;}
        .aui-bar-btn-item{border-color: #d0d0d0;}
        .aui-tab-item.aui-active {color: #e89305;border-bottom: 2px solid #e89305;}
        em.btm-act-icn-kf {
            width: 23px;
            height: 21px;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
            background: url(../../image/ico-kf.png) 0 0 no-repeat;
            background-size:100% 100%;
        }
        em.btm-act-icn-gw {
            width: 23px;
            height: 21px;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
            background: url(../../image/ico-gw.png) 0 0 no-repeat;
            background-size:100% 100%;
        }
        em.btm-act-icn-sc {
            width: 23px;
            height: 21px;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
            background: url(../../image/ico-sc.png) 0 0 no-repeat;
            background-size:100% 100%;
        }
        em.btm-act-icn-qxsc {
            width: 23px;
            height: 21px;
            display: block;
            margin: 0 auto;
            margin-top: 10px;
            background: url(../../image/ico-qxsc.png) 0 0 no-repeat;
            background-size:100% 100%;
        }
        .aui-btn{border-radius:1rem;}
    </style>
</head>
<body>
<div id="app" v-cloak>
    <div class="aui-content">
        <ul class="aui-list aui-media-list aui-padded-10 aui-padded-b-15">
            <li class="aui-list-item aui-padded-l-0">
                <div class="aui-row aui-padded-b-10">
                    <div class="aui-col-xs-3">
                        <div class="aui-bg-list aui-padded-5">
                            <img :src="spic_thumb">
                        </div>
                    </div>
                    <div class="aui-col-xs-9 ">
                        <div class="aui-padded-l-10">
                            <div class="aui-list-item-text" @click="close_guigeFrame()">
                                <div class="aui-list-item-title aui-font-size-16 aui-text-orange">
                                    <strong>￥{{spec_list[cou_index].market_price}}</strong>
                                </div>
                                <div class="aui-list-item-right">
                                    <i class="iconfont icon-huaban aui-pull-right" style="font-size:20px;"></i>
                                </div>
                            </div>
                            <div class="aui-info" style="padding:0">
                                <span class="">商品编号：{{spec_list[cou_index].sku}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="height:220px;overflow-y: auto;">
                <div class="aui-list-item aui-padded-l-0 aui-margin-t-15">
                    <div class="pro-guige">
                        <div class="aui-font-size-14 aui-margin-b-10"> 规格 </div>
                        <p class=" aui-font-size-14">
                            <template v-for="(vo,index) in spec_list">
                                <a href="javascript:void(0);"
                                   class="" v-bind:class="{'aui-bg-orange':cou_index==index}"
                                   @click="change_spec(index)">{{vo.name}}</a>
                            </template>
                        </p>
                        <div class="aui-clearfix"></div>
                    </div>
                </div>
                <div class="aui-list-item aui-padded-l-0" style=" background-image:none;">
                    <div class="aui-font-size-14 aui-margin-b-10"> 数量 </div>
                    <div class="aui-bar-btn aui-bar-btn-sm aui-pull-left" type="count" id="demo" style="width:30%">
                        <div class="aui-bar-btn-item" @click="change_sum(-1)">
                            <i class="aui-iconfont aui-icon-minus aui-font-size-12"></i>
                        </div>
                        <div class="aui-bar-btn-item">
                            <input type="number" class="aui-input aui-text-center aui-font-size-12"
                                   id="count" v-model="goods_num">
                        </div>
                        <div class="aui-bar-btn-item" @click="change_sum(1)">
                            <i class="aui-iconfont aui-icon-plus aui-font-size-12" ></i>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <footer class="aui-bar aui-bar-tab aui-border-t" id="footer">
        <div class="aui-row">
            <div class="aui-col-xs-3">
                <em class="btm-act-icn-kf"></em>
                <span class="aui-font-size-12 aui-text-black" onclick="open_meiQia()">客服</span>
            </div>
            <div class="aui-col-xs-3" onclick="set_show_cart()">
                <em class="btm-act-icn-gw"></em>
                <span class="aui-font-size-12 aui-text-black">购物车</span>
            </div>
            <div class="aui-col-xs-3">
                <template v-if="index_active == 0">
                    <em class="btm-act-icn-qxsc" @click="goods_collect(1)"></em>
                    <span class="aui-font-size-12 aui-text-black">收藏</span>
                </template>
                <template v-else="">
                    <em class="btm-act-icn-sc" @click="goods_collect(0)"></em>
                    <span class="aui-font-size-12 aui-text-black">已收藏</span>
                </template>
            </div>
            <div class="aui-col-xs-3 aui-padded-t-15 aui-padded-l-5 aui-padded-r-5">
                <div class="aui-btn aui-font-size-12" style="width:100%;" @click="add_to_cart()">加入购物车</div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>
<script type="text/javascript" src="../../script/api.js"></script>
<script type="text/javascript" src="../../script/vue.js"></script>
<script type="text/javascript" src="../../script/common.js"></script>
<script>

    var vm = new Vue({
        el: '#app',
        data: {
            token:'',
            id:0,
            goods:'',
            index_active:0,

            cover_url:base_url,
            spic_thumb:'../../image/lazyloading.png',
            cou_index:0,
            price:0.00,
            sku:'',
            thumb:'',
            spec_list:[
                {
                    "barcode":"222222222222222",
                    "cost_price":20,
                    "goods_id":5033,
                    "id":44,
                    "market_price":25,
                    "name":"规格1",
                    "order_num":null,
                    "original_price":30,
                    "sku":"1111111111",
                    "specs":"f670fb7d-32c9-48f5-9a91-cee1ce37b4a2",
                    "stockmax":null,
                    "stockmin":null,
                    "stocknum":222,
                    "thumb":"1506168779097.jpg",
                    "weight":0
                },
                {
                    "barcode":"222222222222222",
                    "cost_price":20,
                    "goods_id":5033,
                    "id":44,
                    "market_price":25,
                    "name":"规格1",
                    "order_num":null,
                    "original_price":30,
                    "sku":"1111111111",
                    "specs":"f670fb7d-32c9-48f5-9a91-cee1ce37b4a2",
                    "stockmax":null,
                    "stockmin":null,
                    "stocknum":222,
                    "thumb":"1506168779097.jpg",
                    "weight":0
                },
            ],
            goods_num:1,
            spec_id:0,
            pictures:[],

            spec_active:0
        },
        methods: {
            init: function () {
                api.ajax({
                    url: goods_info_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            goods_id: vm.id
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        vm.goods = ret.data.goods;
                        vm.spec_list = ret.data.spec_list;
                        if(ret.data.spec_list.length > 0){
                            vm.spec_id = ret.data.spec_list[0].id;
                            vm.spic_thumb = base_url+'/wobuy/upload/images/' + vm.spec_list[vm.cou_index].thumb;
                        }
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
            change_spec:function (index) {
                vm.cou_index = index;
                vm.spec_id = vm.spec_list[index].id;
                vm.spic_thumb = base_url+'/wobuy/upload/images/' + vm.spec_list[index].thumb;
                console.log(vm.cou_index);
            },
            add_to_cart:function () {
                api.ajax({
                    url: add_to_cart_url,
                    method: 'post',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            token: $api.getStorage('token'),
                            goods_num:vm.goods_num,
                            goods_id:vm.id,
                            spec_id:vm.spec_id
                        }
                    }
                }, function (ret, err) {
                    if (ret) {
                        console.log(JSON.stringify(ret));
                        api.toast({
                            msg: ret.msg,
                            duration: 2000,
                            location: 'bottom'
                        });
                        api.sendEvent({
                            name: 'cart_list_init',//刷新购物车
                        });
                    } else {
                        console.log(JSON.stringify(err));
                    }
                });
            },
            change_sum:function (index) {

                if(index > 0){
                    vm.goods_num += 1;
                }
                if(index < 0){
                    if(vm.goods_num == 1){
                        return false;
                    }else{
                        vm.goods_num -= 1;
                    }
                }
            },
            goods_collect:function (index) {
                if(vm.token){
                    console.log(vm.token);
                    console.log(vm.id);
                    if(index == 1){
                        var act_url = goods_collect_url;
                    }else{
                        var act_url = goods_uncollect_url;
                    }
                    api.ajax({
                        url: act_url,
                        method: 'post',
                        timeout: 30,
                        dataType: 'json',
                        returnAll: false,
                        data: {
                            values: {
                                token: vm.token,
                                goods_id: vm.id
                            }
                        }
                    }, function (ret, err) {
                        if (ret) {
                            console.log(JSON.stringify(ret));
                            api.toast({
                                msg: ret.msg,
                                duration: 2000,
                                location: 'bottom'
                            });
                            vm.index_active = index;
                        } else {
                            console.log(JSON.stringify(err));
                        }
                    });
                }else{
                    api.toast({
                        msg: '未登录',
                        duration: 2000,
                        location: 'bottom'
                    });
                }
            },
            
            close_guigeFrame:function () {
                api.sendEvent({
                    name: 'init_content_shade'
                });
                setTimeout(function () {
                    api.closeFrame({
                        name: 'shangpinguige_frm'
                    });
                },200);
            }
        }
    });
    apiready = function () {
        vm.id = api.pageParam.id;
        vm.token = $api.getStorage('token');
        vm.init();
    };
</script>
